.newPostForm {
  margin: 3.5rem auto;
  width: 50%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.titleArea {
  width: 100%;
  color: rgb(179, 179, 177);
  font-size: 4.2rem;
  border: none;
  resize: none;
  outline: none;
}

.linkArea {
  width: 100%;
  color: rgb(179, 179, 177);
  font-size: 2.1rem;
  border: none;
  resize: none;
  outline: none;
}

.postArea {
  width: 100%;
  margin-top: 2.5rem;
  color: rgb(179, 179, 177);
  font-size: 2.1rem;
  border: none;
  resize: none;
  outline: none;
}
