.header {
  display: flex;
  align-items: center;
  padding-top: 4rem;
}

.title {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 30rem);
}