@import 'variables';

.container {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid rgb(230, 230, 230);
}

.navContainer {
  width: 100%;
  display: block;
}

.navbar {
  height: 9rem;
  margin: 0 35rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;

  @include mobile {
    margin: 0 1rem;
  }
}

.logo {
  width: auto;
  height: 2.5rem;
  cursor: pointer;
  fill: rgb(255, 255, 255);
}

.navigation {
  max-width: 120rem;
  display: flex;
  align-items: center;
}

.footerItems {
  margin-right: 2rem;
  color: rgba(255, 255, 255, 0.98);
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 300;
}

.navItems:last-child {
  border-radius: 50rem;
  padding: 1.1rem 1.75rem;
  background-color: #000;
  color: #fff;
  border: none;
  font-weight: 300;
}

.noMobile {
  @include mobile {
    display: none;
  }
}
