.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  margin: 0 10rem;
}

.blogContent {
  margin: 0 auto;
  width: 100%;
}

.posts {
  margin-top: 5rem;
  border-top: 1px solid rgba(230, 230, 230, 1);
}
