.itemContainer {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.order {
  margin-right: 2.5rem;
}

.item {
  cursor: pointer;
}

.author {
  font-weight: 500;
}

.date {
  font-weight: 300;
}